<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ seoTitle or title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/styles/normalize.css">
  <link rel="stylesheet" href="/assets/styles/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <header class="site-header">
    {# <a href="{{ '/' | url }}">{{ metadata.title }} 👋 Learning and writing Hello World apps and programs</a> #}
    <a href="{{ '/' | url }}">{{ metadata.title }} 👋</a>
  </header>

  <main class="site-main">
    <div class="wrapper">
      <h1 class="page-title">{{ title }}</h1>
      <div class="page-content">
        {{ content | safe }}
      </div>
    </div>
  </main>

  <footer class="site-footer">
    <div class="wrapper">
      <p>© 2020 <a class="title-link" href="https://github.com/anaurelian" target="_blank">anaurelian</a>. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>